.Hero {  display: grid;
    width: 100vw;
    height: 100vh;
  grid-template-rows: 1fr 120px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.hero_area {  display: grid;
  grid-template-columns: 1fr 84.7982vh 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". hero-text-wrapper ."
    ". . .";
  grid-area: 1 / 1 / 2 / 2;
}

.hero-text-wrapper { grid-area: hero-text-wrapper; }


/* Texto do hero */

.hero-text-wrapper h1 {
    color: #1F1C14;
    font-family: "DM Sans";
    font-size: 10.2222vh;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}


.hero-text-wrapper h2 {
    color: #1F1C14;
    font-size: 4.7vh;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: -0.3333333vh;
    font-family: "Kode Mono";
}

.hero-text-wrapper p {
    color: #1F1C14;
    font-family: "DM Sans";
    font-size: 2.1111111vh;
    font-style: normal;
    font-weight: 200;
}
